<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="AUDIT_LEVEL" source="chalsense.audit.level" defaultValue="INFO"/>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <appender name="AUDIT_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <logger name="io.github.chalsense.audit" level="${AUDIT_LEVEL}" additivity="false">
        <appender-ref ref="AUDIT_CONSOLE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
